@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&family=Inter:wght@300;500&display=swap');


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}


h1, h2 {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-size: 50px;
  margin-top: 8px;
}

h2 {
  font-size: 60px;
  line-height: 63px;
  letter-spacing:-0.1px;
}

section {
  font-size: 24px;
  line-height: 1.618;
}

section b {
  font-weight: 500;
}

footer {
  font-size: 200px;
}

.overtitre {
  font-family: 'Epilogue';
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
}

