@import url("colors.css");

.gradient {

  transition: 6s;
  right: 0;
  position: absolute;
  opacity: 0;


}

.gradient-image {
  position:absolute;
  top: 0;
  left: 0;
  animation: gradientAnimation 30s infinite alternate;
  mix-blend-mode: soft-light;
}

.radial-gradient {
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;

  /*Fallback if gradeints don't work */
  background: var(--black);
  /*Linear gradient... */
  background:
    radial-gradient(
     at center, var(--orange), var(--black)
    );
}

.green {
  top: 300px;
  left: 30vw;
  animation: gradientAnimation 30s infinite alternate;

}

.orange {
  background: var(--orange);
  right: 600px;
  top: 00px;
  transition: 3s;
}

.o-50 {
  opacity: .5;
}

.o-70 {
  opacity: .7;
}

.small {
  width: 200px;
}


@keyframes gradientAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(50vw, 0, 0);
  }
}
