@media (max-width: 992px) {
  body {
    font-weight: 400;
  }
  section {
    grid-template-columns: 1fr !important;
  }
  .hero .value-prop {
    width: 100% !important;
    text-align: center !important;
  }
  h1, .hero-contact h1 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .value-prop__subtitle {
    font-size: 18px;
  }

  #index-hero-cta {
    margin-top: 24px;
  }

  section {
    font-size: 18px;
  }
  .stars {
    display: none;
  }
  canvas {
    transform: scale(5);
  }

  .logo {
    width: 140px !important;
  }

  .hero-gradient {
    height: 10vh !important;
  }
  .keypoints h2 {
    width: 100%;
  }
  .keypoints-list {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
  }

  #after-hero .content {
    padding-top: 0 !important;
  }
  .section-title {
    text-align: center;
  }
  #contact {
    padding-top: 0vh !important;
  }
  /* AOS OVERRIDES */
  [data-aos^=fade] {
    opacity: 1 !important;
  }
  [data-aos=fade-up] {
    transform: translate3d(0, 0, 0) !important;
  }

  iframe {
    width: 100% !important;
    padding: 0 !important;
    height: 650px !important;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .logo {
    width: 200px !important;
    margin-bottom: -10px;
    margin-top: 10px;
  }

  footer h3 {
    margin-bottom: 4px;
    margin-top: 32px;
    text-align: center;
  }

  .footer-links a {
    text-align: center;
  }

  /* ANIMATION */
  .animation-wrapper {
    overflow: hidden;
  }

  #home-astronaut-animation-wrapper {
    order: -1;
  }

  #astronaut-animation-svg {
    width: 100vw;
    height: 500px;
  }
  #astronaut {
    left: -30px;
    height: 100%;
  }
  #after-hero {
    padding: 0 !important;
  }
  #after-hero .content {
    padding: 80px var(--large-spacing);
    text-align: center !important;
    width: 100%;
  }
  #contact .content {
    text-align: center;
  }
  #manifesto-planet-animation {
    position: initial;
    height: 100% !important;
  }
}
