@import url("fonts.css");
@import url("colors.css");
@import url("gradients.css");
@import url("animation.css");
@import url("cursor.css");

body {
  overscroll-behavior: none;
}

.hero {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.logo {
  opacity:0;
}

section {
  min-height: 100vh;
  margin: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.hero {
  background: linear-gradient(0deg, #232025 0%, rgba(35, 32, 37, 0) 100%);
}

.align-right {
  grid-column: 2;
}

.footer {
  background-color: var(--white);
  color: var(--black);
  overflow: hidden;
  margin-top: 200px;
  opacity: 1 !important;
  white-space: nowrap;
}



.content {
  padding-top: 40vh;
  z-index: 999;
  position: relative;
}

/* ANIMATIONS */
lottie-player {
  position: absolute;
  right: 0;
}

