/* Base */
@import url("base/normalize.css");
@import url("base/animation.css");
@import url("base/cursor.css");

/* Config */
@import url("config/spacing.css");
@import url("config/colors.css");
@import url("config/fonts.css");
@import url("config/layout.css");

/* Components */
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/buttons.css");

/* Pages */
@import url("pages/home.css");
@import url("pages/contact.css");
@import url("pages/manifesto.css");
@import url("pages/shaderless.css");

/* Responsive */
@import url("media-queries.css");

:root {
  --primary-color:    var(--white);
  --background-color: var(--black);
}

section {
  min-height: 100vh;
  padding: var(--large-spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  background-color: var(--background-color);
}

iframe {
  height: 510px;
}

.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 999;
  position: relative;

}

.hero .value-prop {
  width: 100%;
  text-align: center;
  margin-top: 12vh;
  padding: var(--large-spacing);
  z-index: 99;
}

.hero-gradient {
  width: 100%;
  height: 40vh;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.align-right {
  grid-column: 2;
}

ul {
  padding: 0;
}

ul > li  {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  margin: 16px auto;
}

ul > li img {
  margin-top: 8px;
  margin-right: 8px;
}

#after-hero, #contact {
  background-color: black;
  width: 100vw;
  margin-left: 0;
  padding: var(--large-spacing);
}

#contact .content {
  padding-right: var(--half-spacing);
}
