canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index:-2;
}

/* ANIMATIONS */
lottie-player {
  position: absolute;
  right: 0;
}

#home-hero-lottie {
  width: 100vw;
  height: 500px;
  position:absolute;
  top: 80px;
  z-index: -1;
}

.animation-wrapper {
  position: relative;
  min-height: 500px;
}

@media (min-width: 768px) {
  .animation-wrapper {
    min-height: 580px;
  }
}

@media (min-width: 992px) {
  .animation-wrapper {
    min-height: 100%;
  }
}

.animation-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#astronaut {
  transform: rotate(21deg) scale(0.7);

  margin-left: -2rem;

  animation: spaceBreathing 5s linear;
  animation-fill-mode: forwards;

}

@media (min-width: 768px) {
  #astronaut {
    transform: rotate(21deg) scale(1);
    animation: spaceBreathing 10s linear;
  }
}

@media (min-width: 992px) {
  #astronaut {
    /* background-color: blueviolet; */
    transform: rotate(21deg) scale(1.15);
  }
}

#stellar-sparkle {
  opacity: .7;
  transform-origin: 85% 79%;
  transform: translateX(-100px);
  animation: spaceRotate 20s linear infinite;
}

#network {
  stroke-dasharray: 420;
  animation: spaceDraw 15s linear infinite alternate;
}

#planet-background {
  opacity: .2;
  transform-origin: 50% 50%;
  animation: spaceRotate 50s linear infinite alternate, spaceDrawPlanet 25s linear infinite alternate;
}

@keyframes spaceDraw {
  0% {
    stroke-dashoffset: 1000;
  }
  100%{
    stroke-dashoffset: 0;
  }
}

@keyframes spaceDrawPlanet {
  0% {

    stroke-dasharray: 500;
    stroke-dashoffset: 100;
  }
  100%{
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
  }
}

@keyframes spaceRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spaceBreathing {
  0% {
    transform: rotate(21deg) scale(0.7);
    top: -10px;
  }

  100% {
    transform: rotate(21deg) scale(0.85);
    top: 10px;
  }
}

@media (min-width: 768px) {
  @keyframes spaceBreathing {
    0% {
      transform: rotate(21deg) scale(0.7);
      top: -10px;
    }

    100% {
      transform: rotate(21deg) scale(1);
      top: 10px;
    }
  }
}

@media (min-width: 992px) {
  @keyframes spaceBreathing {
    0% {
      transform: rotate(21deg) scale(0.87);
      top: -10px;
    }

    100% {
      transform: rotate(21deg) scale(1.15);
      top: 10px;
    }
  }
}
