.contact {
  background-image:  url('/assets/images/bg-contact-min.png');
  background-size: cover;
}

.hero-contact {
  background: transparent;
  height: auto !important;
  padding-top: var(--large-spacing) !important;
  grid-template-columns: 4fr 2fr;
  align-items: flex-start;
}

.hero-contact .value-prop {
  margin-top: 0 !important;
  width: 82% !important;
  padding: 0 !important;
  padding-right: var(--half-spacing) !important;
  text-align: left !important;
}

@media (min-width: 768px) {
  #nous-contacter .content {
    padding-right: var(--half-spacing);
  }
}
