.homepage {
  background: var(--black);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  transform-origin: center center;
  opacity: 0.4;
  animation-fill-mode: forwards;
}

#nous-contacter {
  align-items: flex-start;
  min-height: auto;
  overflow: hidden;
}

#nous-contacter .planet-gradient {
  width: 250px;
  height: 450px;
  opacity: .5;
  bottom: -10%;
  left: initial;
  top: initial;
}
