.homepage {
  background: var(--black);
}

.planets {
  position: absolute; top: 0; right:-40%;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  transform-origin: center center;
  opacity: 0;
  animation-fill-mode: forwards;
}

#home-astronaut-animation-wrapper {
  overflow: hidden;
}

#after-hero .content {
  width: 94%;
}
.bullets {
  list-style-image: url("../../images/sparkle-icon-small.svg");
  font-size: 16px;
}

::marker {
  margin-top: 120px;
}

.keypoints {
  grid-template-columns: 1fr !important;
  text-align: center;
  min-height: auto !important;
}

.keypoints h2 {
  width: 70%;
  margin: 0 auto;
}

.keypoint h3 {
  margin-top: -0.2em;
}

.keypoints-list {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.keypoint {
  width: 200px;
  margin: 0px 32px;
}



#nous-contacter {
  align-items: flex-start;
  min-height: auto;
}
