.homepage {
  background: var(--black);
}

.planets {
  position: absolute; top: 0; right:-40%;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.star {
  transform-origin: center center;
  opacity: 0.4;
  animation-fill-mode: forwards;
}

#after-hero {
  overflow: hidden;
}
#after-hero .content {
  width: 94%;
}
.illustration img {
   position: absolute;
}
#after-hero .illustration {
  left: 0;
}

#after-hero .planet-blue {
  opacity: .7;
}

#after-hero .planet-gradient {
  width: 300px;
  height: 300px;
  opacity: .8;
  left: 80vw;
  top: 20%;
  transform: rotate(-20deg);
}

#bullets-points {
  overflow: hidden;
}

#bullets-points img {
  bottom: 0;
}

#bullets-points .planet-gradient {
  top: 35%;
  left: -90px;
  opacity: 1;
  transform: rotate(36.2deg);
  height: 100px;
  width: 200px;
  filter: blur(100px);
}

.keypoints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  min-height: auto !important;
  overflow: hidden;

  text-align: center;
}

.keypoints h2 {
  width: 70%;
  margin: 0 auto;
}

.keypoint h3 {
  margin-top: -0.2em;
}

.keypoints ol {
  list-style-position: outside;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 70vw;
}

.keypoints .planet-green {
  top: 0;
}

#what-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.offers-grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .offers-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .offers-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  border: 4px var(--orange) solid;
  border-bottom: 0;
  border-radius: 0.5em 0.5em 0em 0em;
}

.offer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-header p {
  font-size: 1.1em;
  min-height: calc(2 * 1.1em + 1em); /* 2 lines + 1 line height */
  text-align: center;
}

.offer-description {
  font-size: 1rem;
  text-align: left;
}

#nous-contacter {
  align-items: flex-start;
  min-height: auto;
  overflow: hidden;
}

#nous-contacter .planet-gradient {
  width: 250px;
  height: 450px;
  opacity: .5;
  bottom: -10%;
  left: initial;
  top: initial;
}
