/* Base */
@import url("/assets/css/base/normalize.css");
@import url("/assets/css/base/utilities.css");

/* Config */
@import url("/assets/css/config/spacing.css");
@import url("/assets/css/config/colors.css");
@import url("/assets/css/config/fonts.css");
@import url("/assets/css/config/layout.css");

/* Components */
@import url("/assets/css/components/navbar.css");
@import url("/assets/css/components/footer.css");
@import url("/assets/css/components/buttons.css");
@import url("/assets/css/components/planet.css");

/* Animation */
@import url("/assets/css/librairies/aos.css");

/* Responsive */
@import url("/assets/css/media-queries.css");

.process-page {
    background: var(--white);
    position: relative;
    z-index: -1;
}

.process-page .hero {
    background:url('../../images/process/bg-page-process.svg');
    background-size:cover;
}

.process-page nav, .process-page footer {
    color:var(--white);
    background:var(--black);
}
.process-page nav  {
    background:transparent;
}

.process-page .header {
    width:70%;
    padding:var(--large-spacing);
    color:var(--white);
}

/* Gradients */
.gradient-top {
    top: -30vw;
    left: -10vw;
    opacity: .5;
    background: linear-gradient(175.24deg, #F85044 7.96%, #3F5EFB 96.16%);
    transform: rotate(6.2deg);
    width: 30vw;
    border-radius: 200px;
    height: 70vw;
}

.gradient-right {
    right: -40vw;
    height: 40vw;
    width: 30vw;
    opacity: .5;
    border-radius: 200px;
}

.process-wrapper {
    display:  flex;
    flex-direction: column;
    align-items: center;
    padding:var(--half-spacing) var(--large-spacing) var(--large-spacing) var(--large-spacing);
    position: relative;
    overflow: hidden;
}

.process-section {
    display: flex;
    width:850px;
    gap:24px;
    margin: calc(var(--large-spacing) * 2) auto;
}

#process-1 {
    margin-top:var(--large-spacing);
}

#process-4 {
    text-align: center;
    margin:0 auto;
}

.process-section h2 {
    margin:0;
    font-size: 32px;
}

.process-section .figure {
    font-size: 160px;
    margin-top:4px;
    line-height: 150px;
    letter-spacing: -0.01em;
    color:rgba(255,118,82,0.1);
    -webkit-text-stroke: 1px rgba(255,118,82,0.4);
}

.process-section svg, .milestone svg, .milestone .svg, .line {
    position: absolute;
    z-index: 0;
}

.milestone svg, .milestone .svg {
    animation: floating 6s ease-in-out infinite;
}

.line {
    margin-top:24px;
    stroke-dasharray: 10 10;
    transition: 1s;
}

.line-right {
    right: 10%;
}

.line-left {
    left: -20%;
}

.line-top {
    top:-69%;
}

.svg-right {
    right:-10%;
}

.svg-step-1 {
    right: -160px;
    /*transform: scale(1.2);*/
    top:-190%;
}

.svg-step-2 {
    left: -20%;
    top: -200%;
}

.svg-top {
    top:-233px;
}

.svg-bottom {
    bottom: -250px;
}

.svg-left {
    left:-10%;
}


.process-content {
    display:flex;
    flex-direction: column;
    gap:24px;
    z-index: 1;
}

.process-keypoints {
    display:flex;
    gap:16px;
}

.process-keypoint {
    padding: 16px 16px 10px 16px;
    box-shadow: white 0px 30px 40px -2em inset;
    border:1px solid var(--black-300);
    border-radius:4px;
    font-size: 13px;
}

.process-keypoint h3 {
    font-weight: 700;
    margin:0;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:var(--black-700);
}

.process-keypoint span {
   color:var(--black-700);
   font-weight: 700;
}

.process-description {
    font-size: 16px;
    line-height: 28px;
}

.process-illus {
    position:absolute;
    right:-10vw;
}

/* Milestone */
.milestone {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    font-size: 16px;
    /*transform: translateX(30vw);*/
    margin: var(--half-spacing) 0;
    z-index: 99;
    position: relative;
    transform-origin: center center;
}

.milestone-choice {
    flex-direction: row;
    gap:80px;
    justify-content: center;
    margin-bottom: -120px;
}

.milestone-card {
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.milestone-description {
    box-shadow: white 0px 30px 40px -2em inset;
    background:var(--white);
    padding:24px;
    border-radius:8px;
    box-shadow: 10px 0px 200px var(--orange);
    border:1px solid var(--black-300);
    text-align: center;
}

.bottom-illustration {
    width:100vw;
}

.milestone-cta {
    background: var(--black);
    color:var(--white);
    padding:8px 16px;
    transform: rotate(-2deg);
    width: fit-content;
    margin-top:-12px;
    font-weight: 700;
    border-radius:4px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2) ;
}


/* Animation */
.dash-animate {
    animation: dashAnimate 60s linear infinite forwards;
}  

@keyframes dashAnimate {
    0% {
        /*stroke-dasharray: 10 10;*/
        stroke-dashoffset: 1;
    } 100% {
        /*stroke-dasharray: 200 1;*/
        stroke-dashoffset: -1000;
    }
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


/* Responsive */
@media (max-width:992px) {

    .process-page .header {
        width: 100%;
    }
    .process-section {
        margin:0 !important;
        flex-direction: column;
        width:100%;
        gap:0px;
    }
    .process-section .figure {
        font-size:120px;
        line-height: 1;
        color: rgba(255,118,82,1);
    }
    .process-section h2 {
        font-size: 28px;
    }

    .process-keypoints {
        flex-wrap:wrap;
    }

    .process-keypoint {
        flex: 1;
    }

    .process-wrapper svg, .process-wrapper img {
        display:none;
    }
    /*#process-1, #process-3 {
        margin-left:auto !important;
    }*/
    .milestone {
        width:auto;
        transform: none;
        margin:32px 0;
    }

    .milestone-card {
        width:85%;
        margin:calc(var(--large-spacing)*4) 0;
    }

    .milestone-choice {
        flex-direction: column;
    }

    .milestone-choice .milestone-card {
        margin: 0;
    }
}
