/* Base */
@import url("/assets/css/base/normalize.css");
@import url("/assets/css/base/utilities.css");

/* Config */
@import url("/assets/css/config/spacing.css");
@import url("/assets/css/config/colors.css");
@import url("/assets/css/config/fonts.css");
@import url("/assets/css/config/layout.css");
@import url("/assets/css/config/spacing.css");

/* Components */
@import url("/assets/css/components/navbar.css");
@import url("/assets/css/components/footer.css");
@import url("/assets/css/components/buttons.css");
@import url("/assets/css/components/planet.css");

/* Responsive */
@import url("/assets/css/media-queries.css");

.team-hero {
  height: auto !important;
  padding-bottom: 0 !important;
}


.team-hero .value-prop {
  width: 80% !important;
  padding-bottom: 0 !important;
}

.team-hero .planet-gradient{
  top: -100px;
  left: auto;
  background: linear-gradient(175.24deg, #F85044 7.96%, #3F5EFB 96.16%);
    transform: rotate(76.2deg);
  width: 50vw;
  height: 50vw;
}

.team-section {
  z-index: 999;
  display:grid;
  grid-template-columns:  repeat(3, 1fr);
  grid-row-gap: var(--large-spacing);
  grid-column-gap: 80px;
}


.team {
  display: flex;
  flex-direction: column;
  position: relative;
}

.team:hover {
  cursor: auto;
}


.team:hover .team-linkedin, .team:hover .btn-tertiary {
  opacity: 1;
  transition: .3s;
}

.team:hover .team-picture-portrait {
  transform: scale(1.05);
  transition: .5s;
}

.team .btn-tertiary {
  opacity: 0;
  transition: .3s;
  color: var(--orange);
}

.team-picture {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  height: 390px;
}

.team-picture-portrait {
  width: 100%;
  transition: .5s;
  min-height: 100%;
  object-fit: cover;
}

.team-linkedin {
  position: absolute;
  bottom: 12px;
  left: 12px;
  opacity: 0;
  transition: .3s;
}

.team-status {
  margin-top: 16px;
  font-size: 13px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--white);
  opacity: 0.5;
}

.team-name {
  font-size: 32px;
  letter-spacing: -0.01em;
  margin: 8px 0 0 0;
}

.team-description {
  margin-top: 8px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  opacity: .8;
}

@media (max-width: 1280px) {
  .hero {
    text-align: left !important;
  }
  .team-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .team:not(:first-child) {
    margin-top: var(--large-spacing);
  }

  .team .team-linkedin, .team .btn-tertiary {
    opacity: 1;
  }

}