@media (max-width: 992px) {
  body {
    font-weight: 400;
  }

  section {
    grid-template-columns: 1fr !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .hero .value-prop {
    width: 100% !important;
    text-align: center !important;
  }

  h1, .hero-contact h1 {
    font-size: 35px;
    width: 100%;
  }

  .hero-contact h1 {
    text-align: left;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .value-prop__subtitle {
    font-size: 18px;
  }

  .hero-contact .value-prop__subtitle {
    text-align: left;
  }

  #index-hero-cta {
    margin-top: 24px;
  }

  section {
    font-size: 18px;
  }

  .stars {
    display: none;
  }
  .planet {
    filter: blur(150px);
  }
  .planets {
    right: -50px;
    top: 140px;
  }
  .planet-blue {
    width: 80vw;
    height: 80vw;
    top: 53vh;
  }
  .planet-orange {
    width: 50vw;
    height: 50vw;
    top: 40vh;
    right: 10vw;
  }
  .planet-gradient {
    opacity: .5;
  }

  canvas {
    transform: scale(5);
  }

  .logo {
    width: 140px !important;
  }

  .hero-gradient {
    height: 10vh !important;
  }

  .keypoints h2 {
    width: 100%;
  }

  .keypoints-list {
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    text-align: center;
  }

  .bullets-illustration {
    position: initial;
  }

  .bullets-illustration img {
    width: 100vw;
  }

  /* AOS OVERRIDES */
  [data-aos^=fade] {
    opacity: 1 !important;
  }

  [data-aos=fade-up] {
    transform: translate3d(0, 0, 0) !important;
  }

  iframe {
    width: 100% !important;
    padding: 0 !important;
  }

  /* ANIMATION */
  .animation-wrapper {
    overflow: hidden;
  }

  #home-astronaut-animation-wrapper {
    order: -1;
  }

  #astronaut-animation-svg {
    width: 100vw;
    height: 500px;

    /* remove section's padding-left: take all screen width space */
    margin-left: calc(var(--large-spacing) * -1);
  }

  #astronaut {
    max-height: 100%;
  }

  #after-hero .content {
    text-align: center !important;
    width: 100%;
  }

  #nous-contacter .content {
    text-align: center;
  }

  #manifesto-planet-animation {
    position: initial;
    height: 100% !important;
  }
}
