@media (max-width: 992px) {
  body {
    font-weight: 400;
  }

  section {
    grid-template-columns: 1fr !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .hero .value-prop {
    width: 100% !important;
  }

  h1, .hero-contact h1 {
    font-size: 35px;
    width: 100%;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .value-prop__subtitle {
    font-size: 18px;
  }

  #index-hero-cta {
    margin-top: 2px;
  }

  section {
    font-size: 18px;
  }

  .stars {
    display: none;
  }
  .planet {
    filter: blur(150px);
  }
  .planets {
    right: -50px;
    top: 140px;
  }
  .planet-blue {
    width: 80vw;
    height: 80vw;
    top: 53vh;
  }
  .planet-orange {
    width: 50vw;
    height: 50vw;
    top: 40vh;
    right: 10vw;
  }
  .planet-gradient {
    opacity: .5;
  }

  canvas {
    transform: scale(5);
  }

  .logo {
    width: 140px !important;
  }

  .hero-gradient {
    height: 10vh !important;
  }

  .keypoints h2 {
    width: 100%;
    margin-bottom: 15px;
  }

  .keypoints h2, .keypoints .subtitle {
    text-align: left;
  }

  .keypoints .planet-green {
    filter: blur(50px);
    width: 30vw;
    height: 60vw;
  }

  .keypoints-list {
    flex-direction: column;
    align-items: center;
  }

  #bullets-points .illustration {
    position: initial;
    margin-right: -24px;
  }

  #bullets-points .illustration img {
    width: 100vw;
    position:initial;
  }

  #bullets-points .content {
    width: calc(100% - var(--large-spacing));
  }

  .bullets li:last-child{
    margin-bottom: 27px;
  }

  #nous-contacter .planet-gradient {
    width: 80vw;
    top: 10%;
    filter: blur(50px);
    opacity: .5;
  }

  /* AOS OVERRIDES */
  [data-aos^=fade] {
    opacity: 1 !important;
  }

  [data-aos=fade-up] {
    transform: translate3d(0, 0, 0) !important;
  }

  iframe {
    width: 100% !important;
    padding: 0 !important;
  }

  /* ANIMATION */
  .animation-wrapper {
    overflow: hidden;
    min-height: auto;
  }

  #home-astronaut-animation-wrapper {
    order: -1;
    height: 320px;
  }

  #home-astronaut-animation-wrapper img {
    width: 100%;
  }

  #after-hero .planet-gradient {
    width: 250px;
    height: 210px;
    top: 10%;
  }

  #astronaut-animation-svg {
    width: 100vw;
    height: 500px;

    /* remove section's padding-left: take all screen width space */
    margin-left: calc(var(--large-spacing) * -1);
  }

  #astronaut {
    max-height: 100%;
  }

  #after-hero .content {
    width: 100%;
  }

  #manifesto-planet-animation {
    position: initial;
    height: 100% !important;
  }
}
