/* Base */
@import url("/assets/css/base/normalize.css");
@import url("/assets/css/base/animation.css");
@import url("/assets/css/base/cursor.css");
@import url("/assets/css/base/utilities.css");

/* Config */
@import url("/assets/css/config/spacing.css");
@import url("/assets/css/config/colors.css");
@import url("/assets/css/config/fonts.css");
@import url("/assets/css/config/layout.css");

/* Components */
@import url("/assets/css/components/navbar.css");
@import url("/assets/css/components/footer.css");
@import url("/assets/css/components/buttons.css");
@import url("/assets/css/components/contact.css");
@import url("/assets/css/components/planet.css");
@import url("/assets/css/components/faq-tooltip.css");

/* Pages */
@import url("/assets/css/pages/home.css");
@import url("/assets/css/pages/contact.css");
@import url("/assets/css/pages/manifesto.css");
@import url("/assets/css/pages/faq.css");

/* Animation */
@import url("/assets/css/librairies/aos.css");

/* Responsive */
@import url("/assets/css/media-queries.css");

:root {
  --primary-color:    var(--white);
  --background-color: var(--black);
}

body {
  height: 100vh;
}

h1 {
  text-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

section {
  padding: var(--large-spacing);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  padding-bottom: 150px;
}

iframe {
  height: 530px;
}

ul {
  padding: 0px;
}

ul > li  {
  align-items: flex-start;
  font-weight: 500;
  margin: 12px auto;
}


.align-right {
  grid-column: 2;
}

.hero {
  height: calc(100vh - 65px); /* navbar height */
  position: relative;
  z-index: 999;
}

.hero .value-prop {
  width: 100%;
  padding: var(--large-spacing);
  z-index: 99;
}

@media (max-width: 768px) {
  .hero .value-prop__subtitle {
    width: 100%;
  }
}

.hero h1 {
  margin-bottom: 0;
}

.hero-gradient {
  width: 100%;
  height: 40vh;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

#after-hero, #nous-contacter {
  width: 100vw;
  margin-left: 0;
  padding-left: var(--large-spacing);
  padding-right: var(--large-spacing);
}

ol.custom-counter {
  counter-reset: list-counter;
}

ol.custom-counter li {
  position: relative;
  list-style: none;
  counter-increment: list-counter;
}

ol.custom-counter li::before {
  content: counter(list-counter) ". ";
  font-weight: bold;
  position: absolute;
  left: -2em; /* Adjust as needed */
}

ol.custom-counter li.counter-primary::before {
  color: var(--orange);
}
