a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Epilogue';
  font-size: 15px;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  background: var(--orange) !important;
  border: 1px solid var(--orange);
  border: 1px solid var(--orange);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;
  cursor: pointer !important;
  text-align: center;
}

.btn-primary:hover {
  background: transparent !important;
  color: var(--orange);
  transition: .3s;
}

.btn-primary:hover:after {
  width: 0 !important;
}

.btn-large {
  padding: 16px 24px;
}

.btn-secondary {
  padding: 8px 16px;
  border: .5px solid var(--white);
  transition: .3s;
}

.btn-secondary:hover {
  background: var(--white);
  color: var(--black);
  border: .5px solid var(--white);
  transition: .3s;
}

.btn-tertiary:hover {
  cursor: pointer;
}

.btn-secondary:hover:after {
  width: 0 !important;
}

.btn-secondary.active {
  background: var(--white) !important;
  color: var(--black) !important;
}
