footer {
  --footer-primary-color:    var(--background-color);
  --footer-background-color: var(--primary-color);

  padding: var(--half-spacing) var(--large-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  color: var(--footer-primary-color);
  background-color: var(--footer-background-color);
}

@media (min-width: 768px)  {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
  }
}

footer h3 {
  margin-bottom: 4px;
  text-align: center;
}

@media (min-width: 768px)  {
  footer h3 {
    margin-top: 0;
    margin-bottom: initial;
    text-align: left;
  }
}

footer img {
  width: 200px;
  margin-top: 10px;
}

@media (min-width: 768px)  {
  footer .logo {
    margin-top: 0;
  }
}

footer a {
  color: var(--footer-primary-color);
  display: block;

  line-height: 24px;
  text-align: center;
}

@media (min-width: 768px)  {
  footer a {
    text-align: initial;
  }
}
