nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: var(--half-spacing) var(--large-spacing);
  font-weight: 500;
}


.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-left: var(--half-spacing);
}

.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-links a:hover:after {
  width: 100%;
  left: 0;
}
