.hero-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@-moz-document url-prefix() {
  .hero-wrapper {
    background: linear-gradient(45deg, rgba(63, 94, 251, 0.2), rgba(63, 94, 251, 0) 70.71%),
      linear-gradient(127deg, rgba(63, 94, 251, 0.15), rgba(75, 28, 35, 0) 70.71%),
      linear-gradient(225deg, rgba(248, 80, 68, 0.3), rgba(248, 80, 68, 0) 70.71%);

    z-index: -1;
  }
}

.planets {
  opacity: 0;
  transition: 1s;
}
.planet {
  mix-blend-mode: lighten;
  filter: blur(180px);
  position: absolute;
}

@-moz-document url-prefix() {
  .planet {
    border-radius: 30%;
  }
}

.planet-gradient {
  top: -10vw;
  left: -30vw;
  z-index: -1;
  opacity: .35;
  background: linear-gradient(175.24deg, #F85044 7.96%, #3F5EFB 96.16%);
  transform: rotate(-33.8deg);
  width: 90vw;
  height: 90vw;
}

@-moz-document url-prefix() {
  .hero-wrapper .planet-gradient {
    opacity: 0;
  }
}

.planet-blue {
  top: 20vh;
  right: 20vw;
  z-index: -1;
  opacity: .7;
  background: var(--blue);
  transform: rotate(-160deg);
  width: 350px;
  height: 350px;
}

@-moz-document url-prefix() {
  .hero-wrapper .planet-blue {
    opacity: 0;
  }
}

.planet-orange {
  width: 30vw;
  height: 30vw;
  top: 5vh;
  right: -10vw;
  transform: rotate(100deg);

  background: var(--orange);
  opacity: .8;
}

@-moz-document url-prefix() {
  .planet-orange {
    width: 50vw;
    height: 50vw;
    top: -5vh;
    right: -15vw;

    opacity: 0.75;
    border-radius: 50%;

    background: radial-gradient(circle, rgba(255, 93, 51, 90%) 0%, rgba(204,94,65,0.17) 55%);
  }
}

.planet-green {
  width: 20vw;
  height: 40vw;
  top: 10vh;
  opacity: .35;
  right: -5vw;
  transform: rotate(100deg);
  background: var(--green);
}

.mask {
  position: absolute;
  background: linear-gradient(to top, black, rgba(0,0,0,0));
  bottom: 0px;
  width: 100vw;
  height: 200px;
}

@supports (-moz-appearance:none) {
  .planet {
    filter: blur(100px)
  }
}
