* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  color:            var(--primary-color);
  background-color: var(--background-color);

  overscroll-behavior: none;
}

h1, .logo {
  opacity: 1;
}

img {
  content-visibility: auto;
}

.text-center {
  text-align: center;
}
