a {
  text-decoration: none;
  color: var(--white);
  font-family: 'Epilogue';
  font-size: 15px;
  display: inline-block;
}

a:hover {
  cursor: pointer;
}

.btn-primary {
  padding: 8px 16px;
  border: 1px solid var(--white);
  font-size: 18px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;
}

.btn-primary:hover {
  background: var(--white);
  color: #3A345D;
  transition: .3s;
}

.btn-large {
  padding: 16px 24px;
}


.btn-primary:hover::after {
  opacity: 0.3;
}
