@import url('../config/spacing.css');
@import url('../config/colors.css');

footer {
  padding: var(--half-spacing) var(--large-spacing);
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  background-color: var(--white);
  color: var(--black);

}

footer img{
  width: 200px;
}


footer a {
  color: var(--black);
  display: block;
  line-height: 24px;
}
