.hero-contact {
  background: transparent;
  height: auto !important;
  padding-top: var(--large-spacing) !important;
  grid-template-columns: 4fr 2fr;
  align-items: flex-start;
}



.hero-contact .value-prop {
  margin-top: 0 !important;
  width: 82% !important;
  padding: 0 !important;
  padding-right: var(--half-spacing) !important;
  text-align: left !important;
}
