body {
  color: #FFF8E7;
  background-color: black;
}

h1, .logo {
  opacity: 1;
}


.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
 .star {
  opacity: 0;
}

#home-astronaut-animation-wrapper {
  overflow: hidden;
}

#after-hero .content {
  width: 94%;
}

.keypoints {
  grid-template-columns: 1fr !important;
  text-align: center;
  min-height: auto !important;
  padding: 0 var(--large-spacing);
}

.keypoints h2 {
  width: 70%;
  margin: 0 auto;
}

.keypoints-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
}


