body {
  color: var(--white);
  background-color: var(--black);
}

h1, .logo {
  opacity: 1;
}

#index-hero-cta {
  margin-top: var(--half-spacing);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
 .star {
  transform-origin: center center;
  opacity: 0;
  animation-fill-mode: forwards;
}


#home-astronaut-animation-wrapper {
  overflow: hidden;
}

#after-hero .content {
  width: 94%;
}

.keypoints {
  grid-template-columns: 1fr !important;
  text-align: center;
  min-height: auto !important;
  padding: 0 var(--large-spacing) var(--large-spacing) var(--large-spacing);
}

.keypoints h2 {
  width: 70%;
  margin: 0 auto;
}

.keypoint h3 {
  margin-top: -20px;
}

.keypoints-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
}
.section-title {
  grid-template-columns: 1fr;
  padding: var(--large-spacing) var(--large-spacing) 0 var(--large-spacing) ;
  min-height: auto;
}
#contact {
  align-items: flex-start;
  padding-top: 0 !important;
  min-height: auto;
}

