body {
  color: #FFF8E7;
  background-color: black;
}

h1, .logo {
  opacity: 1;
}


canvas {
  opacity: 1;
  /*width: 100vmin !important;
  height: 100vmin !important;
  border-radius: 50%;*/
  margin: 0 auto;
}


 .stars {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
 }
 .star {
  opacity: 0
}
