@import url('../config/colors.css');

.hero-manifesto {
  text-align: center;
  color: var(--white);
}

.hero-manifesto .content {
  margin-top: 15vh;
}

.after-hero--manifesto {
  padding: 200px var(--large-spacing) !important;
  grid-template-columns: 1fr;
  min-height: fit-content;
}

.after-hero--manifesto .content {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
