/* Base */
@import url("/css/base/normalize.css");

/* Config */
@import url("/css/config/spacing.css");
@import url("/css/config/colors.css");
@import url("/css/config/fonts.css");
@import url("/css/config/layout.css");

/* Components */
@import url("/css/components/navbar.css");
@import url("/css/components/footer.css");
@import url("/css/components/buttons.css");

:root {
  --primary-color:    var(--black);
  --background-color: var(--white);
}

.projects-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.6em;
}

.header p {
  font-size: 1.3em;
  line-height: 2;
}

.projects-wrapper .header {
  max-width: 952px;
  margin-bottom: 2.5em;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  text-align: left;

  border-radius: 12px;

  margin-bottom: 80px;
  padding: 0 5em;
  padding-top: 5em;

  transition: 0.3s;
}

.project:nth-child(odd) .project-info {
  order: 1;
}

.project:nth-child(odd) .project-image {
  padding-right: 5em; /* projuct padding */
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-info {
  padding-bottom: 2em;
  padding-right: 2em;
}

.project-description {
  font-size: 1.15em;
  line-height: 1.7;
  margin-bottom: 2em;
}

.kpis {
  display: flex;
  align-items: center;
}

.kpi {
  min-width: 115px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-right: 32px;

  /* To override per project */
  background-color: rgba(255,255,255,0.3);
  border: 1px solid white;
}

.kpi-name {
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.kpi-data {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

/* Project Kwali */

#kwali-use-case {
  background: linear-gradient(103.54deg, #61C763 24.06%, #00C289 86.08%);
}

#kwali-use-case .project-image {
  margin-top: 2em;
}

#kwali-use-case .kpis {
  color: #004C08;
}

#kwali-use-case .kpi {
  background-color: #8ED791;
  border: 1px solid #BEE7C1;
}

/* Project Astreinte Vitale */

#astreinte-vitale-use-case {
  background: linear-gradient(255.53deg, #17223A 8.04%, #08225A 89.86%);
  overflow: hidden; /* for the drop-shadow */
}

#astreinte-vitale-use-case .project-description {
  color: #FFF;
}

#astreinte-vitale-use-case .project-image img {
  filter: drop-shadow(0px 14px 42px rgba(0, 0, 0, 0.8));
}

#astreinte-vitale-use-case .kpis {
  color: #C7E0FF;
}

#astreinte-vitale-use-case .kpi {
  background-color: #324264;
  border: 1px solid #66728C;
}
