.shaderless {
  background-image:  url('../../images/bg-min.png');
  background-size: cover;
}


.shaderless canvas {
  opacity: 0;
}

.shaderless #after-hero, .shaderless section, .shaderless #nous-contacter {
  background-color: transparent;
}

.shaderless #after-hero {
  padding-top: 0;
}
