:root {
  --black:  #232025;
  --white:  #FFF8E7;
  --green:  #00C289;
  --orange: #FF896A;
  --red:    #F85044;

  --gradient: linear-gradient(175.24deg, #F85044 7.96%, #3F5EFB 96.16%);
}

body {
  background-color: var(--black);
  color: var(--white);
}
