@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&family=Inter:wght@300;500&display=swap');

body {
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing : grayscale;
  font-weight: 500;
}

h1, h2 {
  font-family: 'Epilogue', sans-serif;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
  margin: 8px auto;
  letter-spacing: -0.5px;
  overflow: hidden;
  opacity: 0;
}

/*animation purpose*/
.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
/* Douteux ici ? */
h2,.hero-contact h1  {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing:-0.1px;
  margin-top: 16px;
}

h3 {
  font-size: 18px;
  line-height: 1.2;
}

section {
  font-size: 20px;
  line-height: 1.618;
}

.value-prop__subtitle {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
}
strong, section b {
  font-weight: 700;
}

.overtitre {
  font-family: 'Epilogue';
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--primary-color);
}
