::selection {
  color:      var(--black);
  background: var(--red);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  color:            var(--primary-color);
  background-color: var(--background-color);

  overscroll-behavior: none;
}

h1, .logo {
  opacity: 1;
}

img {
  content-visibility: auto;
}
